@{
    ViewData["Title"]="EDITANDO";
}
@model  Usuarios
<div>    
    <h3>EDITAR</h3>
    <br>    
    <table class="table">
        <tr>
            <th scope="col">ID</th>            
            <th scope="col">USERID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CONTRASEÑA</th>
            <th scope="col">PRIVILEGIOS</th>
            <th scope="col">OPCIONES</th>  
        </tr>                 
        <tr>                                    
            <th scope="col"><input type="text"  disabled                                   value=@Model.id ></th>
            <th scope="col"><input type="text"  disabled id="u" name="usuarioid_actualiza" value="@Model.userid"></th>
            <th scope="col"><input type="text"  disabled id="n" name="nombre_actualiza"    value="@Model.nombre"></th>
            <th scope="col"><input type="text"  disabled id="p" name="pass_actualiza"      value="@Model.pass"></th>
            <th scope="col">XXXX</th>
            <th>                        
                <button onclick="myFunction()" class="btn btn-secondary">Editar</button>
                @Html.ActionLink("Guardar","Guardar", new { id = @Model.id }, new{ @class="btn btn-success"})
            </th>                                   
        </tr>                
            
    </table>
    <a href="../ViewSU" class="btn btn-warning">Regresar</a>
<script>function myFunction() 
    {
        document.getElementById("u").disabled = false;
        document.getElementById("n").disabled = false;
        document.getElementById("p").disabled = false;        
    }
</script>
</div>

